<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-body">
			<div class="row">

				<div class="col-md-4">
					<form id="mainform" class="form-validate-jquery" th:action="@{/AD14/store}" th:object="${charge}" method="POST">
						<input type="hidden" th:field="*{submitFor}"/>
						<input type="hidden" th:if="${charge.xcode ne null}" th:field="*{xcode}">

						<div class="row">
							<div class="col-md-12">
								<div class="mb-3 form-group">
									<label class="form-label">VAT(%)</label>
									<input type="text" class="form-control" th:field="*{xrate}" required="required">
								</div>
							</div>
						</div>

						<div class="d-flex justify-content-between align-items-center">
							<div>
								<button type="reset" th:attr="data-reloadurl='/AD14?xcode=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
							</div>
							<div>
								<button th:if="${charge.xcode ne null}" th:attr="data-url=@{/AD14?xcode=} + ${charge.xcode}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
								<button th:if="${charge.xcode ne null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
								<button th:if="${charge.xcode eq null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1 mt-5"></div>
				<div class="col-md-7">
					<h3>List of VAT's</h3>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>VAT(%)</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="x : ${charges}">
									<td>
										<a class="detail-dataindex" th:attr="data-reloadid='main-form-container', data-reloadurl='/AD14?xcode=' + ${x.xcode}" th:href="@{/AD14?xcode=} + ${x.xcode}" th:text="${x.xrate + '%'}"></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});
		})
	</script>
</div>