<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/MD13/store}" th:object="${category}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${category.xcode ne null}" th:field="*{xcode}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Code</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xcode"
										th:value="${category.xcode != null ? category.xcode : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD13/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xcode',
										data-mainscreen=true,
										data-mainreloadurl='/MD13?xcode=',
										data-mainreloadid='main-form-container'"
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Category Name</label>
							<input type="text" class="form-control" th:field="*{xname}" required="required">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Parent Category</label>
							<select class="form-control select" th:field="*{xpcode}">
								<option value="">-- Select --</option>
								<option th:each="pcat : ${categories}" th:value="${pcat.xcode}" th:text="${pcat.xcode + ' - ' + pcat.xname + ' ' + (pcat.zactive ? '' : '(Inactive)')}">Category Name</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Sequence</label>
							<input type="number" class="form-control numeric-only" th:field="*{xseqn}" min="0" step="1">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="zactive">Is Active?</label>
							<input type="checkbox" id="zactive" th:field="*{zactive}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD13?xcode=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${category.xcode ne null}" th:attr="data-url=@{/MD13?xcode=} + ${category.xcode}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${category.xcode ne null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${category.xcode eq null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>

		<div class="card-footer" th:if="${category.xcode ne null and childs ne null and not #lists.isEmpty(childs)}">
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h4 class="py-sm-3 mb-sm-auto" th:text="'Child Categories of - ' + ${category.xname}"></h4>
				</div>
				<div>
					<button th:attr="data-url=@{/MD13/removechilds?xcode=} + ${category.xcode}" type="button" class="btn btn-danger btn-sm btn-delete-childs"><i class="ph-trash me-2"></i> Remove Childs</button>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Code</th>
							<th>Category Name</th>
							<th class="text-center">Active?</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="x : ${childs}">
							<td>
								<a th:href="@{/MD13?xcode=} + ${x.xcode}" th:text="${x.xcode}"></a>
							</td>
							<td th:text="${x.xname}"></td>
							<td class="text-center" th:text="${x.zactive ? 'Y' : 'N'}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('.btn-delete-childs').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to remove all childs?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});


		})
	</script>
</div>