<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Business Selection</title>
	<meta th:remove="tag" th:include="commons :: common-meta"/>
	<meta th:remove="tag" th:include="commons :: common-css"/>
	<meta th:remove="tag" th:include="commons :: common-js"/>
</head>

<body>

	<div class="navbar navbar-dark navbar-static py-2">
		<div class="container-fluid">
			<div class="navbar-brand">
				<a th:href="@{/business}" class="d-inline-flex align-items-center">
					<!-- <img th:src="@{/login-assets/images/logo.png}" alt="" style="height: 38px;"> -->
					<h3 class="m-0 p-0 text-white">ZPOS</h3>
				</a>
			</div>

			<div class="d-flex justify-content-end align-items-center ms-auto">
				<ul class="navbar-nav flex-row">
					<li class="nav-item">
						<a th:href="@{/business/create}" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
							<div class="d-flex align-items-center mx-md-1">
								<i class="ph-storefront"></i>
								<span class="d-none d-md-inline-block ms-2">Create Business</span>
							</div>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav flex-row">
					<li class="nav-item">
						<a th:href="@{/clearlogincache}" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
							<div class="d-flex align-items-center mx-md-1">
								<i class="ph-sign-out"></i>
								<span class="d-none d-md-inline-block ms-2">Logout</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content" style="overflow-y: scroll;">


				<div th:if="${param.error}" style="color: red; margin-top: 20px !important; font-size: 20px; text-align: center; margin-top: -10px;">Please don't tamper with data. This incident will be reported to the System Admin</div>

				<!-- <h1 class="text-center mt-3">Choose Your Business</h1> -->

				<!-- Content area -->
				<div class="row justify-content-center align-items-center">

					<div th:each="business : ${businesses}" class="col-sm-6 col-xl-3">
						<form th:id="${business.zid}" class="sign-in-form" role="form" th:action="@{/login}" method="post" autocomplete="off">
							<input type="hidden" name="username" th:value="${business.zemail}"/>
							<input type="hidden" name="password" th:value="${business.xpassword}"/>
							<input type="hidden" name="businessid" th:value="${business.zid}"/>
							<button type="submit" style="width: 100%" class="p-4 business-submit-button card card-body bg-primary text-white align-items-center"><h4 th:text="${business.zorg}" class="p-0 m-0"></h4></button>
						</form>
					</div>

				</div>
				<!-- /content area -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

	<div th:remove="tag" th:include="commons :: modal-section"></div>

	<div th:remove="tag" th:include="commons :: notification-section"></div>

</body>
</html>