<!-- COMMON MEAT INFO -->
<head th:fragment="common-meta" xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- <link th:href="@{/assets/images/favicon.ico}" rel="icon" type="image/x-icon" /> -->
</head>

<!-- COMMON-CSS -->
<head th:fragment="common-css" xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/assets/fonts/inter/inter.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/icons/phosphor/styles.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/icons/fontawesome/styles.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/icons/icomoon/styles.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/icons/material/styles.min.css}" rel="stylesheet" type="text/css">

	<link th:href="@{/assets/css/ltr/all.min.css}" id="stylesheet" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/css/vendor/smoke/smoke.css}" id="stylesheet" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap-datetimepicker.min.css}"/>
	<link th:href="@{/assets/css/kit-ui.css}" rel="stylesheet" type="text/css">
</head>

<!-- COMMON-JS -->
<head th:fragment="common-js" xmlns:th="http://www.thymeleaf.org">
	<!-- Core JS files -->
	<script th:src="@{/assets/js/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/js/popper.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/jquery/cookie.js}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script th:src="@{/assets/js/vendor/smoke/smoke.js}"></script>
	<script th:src="@{/assets/js/vendor/visualization/d3/d3.min.js}"></script>
	<script th:src="@{/assets/js/vendor/visualization/d3/d3_tooltip.js}"></script>
	<script th:src="@{/assets/js/vendor/tables/datatables/datatables.min.js}"></script>
	<script th:src="@{/assets/js/vendor/tables/datatables/extensions/row_reorder.min.js}"></script>
	<script th:src="@{/assets/js/vendor/tables/datatables/extensions/responsive.min.js}"></script>
	<script th:src="@{/assets/js/vendor/tables/datatables/extensions/responsive_bs.js}"></script>
	<script th:src="@{/assets/js/vendor/forms/selects/select2.min.js}"></script>
	<script th:src="@{/assets/js/vendor/notifications/noty.min.js}"></script>
	<script th:src="@{/assets/js/vendor/ui/moment/moment.min.js}"></script>
	<script th:src="@{/assets/js/vendor/pickers/daterangepicker.js}"></script>
	<script th:src="@{/assets/js/vendor/pickers/datepicker.min.js}"></script>
	<script th:src="@{/assets/js/bootstap-datepicker.js}"></script>

	<!-- Custom Js Files -->
	<script th:src="@{/assets/js/app.js}"></script>
	<script th:src="@{/assets/demo/pages/datatables_basic.js}"></script>
	<script th:src="@{/assets/js/kit-ui.js}"></script>
	<script th:src="@{/assets/js/kit-functions.js}"></script>
</head>

<!-- Main Menu -->
<div th:fragment="main-menu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<a th:href="@{/}" class="basePath"></a>
	<input type="hidden" id="businessZid" th:value="${loggedInZbusiness.zid}"/> 
	<input type="hidden" id="shopCurrency" th:value="${currency.xcode}"/> 
	<input type="hidden" id="shopCurrencySign" th:value="${currency.xsign}"/> 
	<input type="hidden" id="shopCurrencyPosition" th:value="${currency.xsignposition}"/> 

	<div class="navbar navbar-dark navbar-expand-lg navbar-static border-bottom border-bottom-white border-opacity-10">
		<div class="container-fluid">
			<div class="d-flex d-lg-none me-2">
				<button type="button" class="navbar-toggler sidebar-mobile-main-toggle rounded-pill">
					<i class="ph-list"></i>
				</button>
			</div>

			<div class="navbar-brand flex-1 flex-lg-0">
				<a th:href="@{/}" class="d-inline-flex align-items-center side-nav-link">
					<!-- <img th:src="@{/login-assets/images/logo.png}" alt="" style="height: 38px;"> -->
					<h3 class="m-0 p-0 text-white">ZPOS</h3>
				</a>
			</div>

			<ul class="nav flex-row">
			</ul>

			<ul class="nav flex-row justify-content-end order-1 order-lg-2">

				<li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
					<a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
						<div class="status-indicator-container">
							<!-- <img th:src="@{/assets/images/demo/users/face11.jpg}" class="w-32px h-32px rounded-pill" alt=""> -->
							
							<i class="ph-user-circle" style="font-size: 25px;"></i>
							<span class="status-indicator bg-success"></span>
						</div>
						<span class="d-none d-lg-inline-block mx-lg-2" th:text="${#strings.isEmpty(loggedInUser.displayname) ? loggedInUser.username + ' - ' + loggedInUser.roles : loggedInUser.displayname + ' - ' + loggedInUser.roles}"></span>
					</a>

					<div class="dropdown-menu dropdown-menu-end">
						<a th:href="@{/CP}" class="dropdown-item">
							<i class="ph-key me-2"></i>
							Change Password
						</a>
						<a th:href="@{/logout}" class="dropdown-item">
							<i class="ph-sign-out me-2"></i>
							Logout
						</a>
					</div>
				</li>

				<li class="nav-item nav-item-dropdown-lg dropdown">
					<a href="#" class="navbar-nav-link navbar-nav-link-icon rounded-pill" data-bs-toggle="dropdown">
						<i class="ph-squares-four"></i>
					</a>
	
					<div class="dropdown-menu dropdown-menu-end dropdown-menu-scrollable-sm wmin-lg-300 p-0">
						<div class="border-bottom p-3" th:if="${not (loggedInUser.roles ne 'CASHIER' and logInOut ne null and logInOut.xstatus eq 'Open')}">
							<h6 class="mb-0 text-center d-block" th:if="${loggedInUser.roles eq 'CASHIER'}" th:text="${logInOut ne null and logInOut.xstatus eq 'Open' ? 'Stop Working Period' : 'Start Working Period'}">Start Work Period</h6>
							<h6 class="mb-0 text-center d-block" th:if="${loggedInUser.roles ne 'CASHIER' and  logInOut ne null and logInOut.xstatus eq 'Closed'}">Re-Sign In Last Signed In Cashier</h6>
						</div>
	
						<div class="row  g-0">

							<div class="col">
								<form id="pos-sign-in-form" th:action="@{/log-in-out} + ${loggedInUser.roles ne 'CASHIER' ? '/resignin' : loggedInUser.roles eq 'CASHIER' and logInOut ne null and logInOut.xstatus eq 'Open' ? '/signout' : '/signin'}" method="POST">
									<button type="button" class="dropdown-item text-wrap h-100 border-end-sm border-bottom p-3 d-block btn-sign-in" th:if="${loggedInUser.roles eq 'CASHIER' and logInOut ne null and logInOut.xstatus eq 'Open'}">
										<div class="text-center">
											<h3>Sign Out</h3>
											<img src="../../../assets/images/demo/logos/1.svg" class="h-40px mb-2" alt="">
											<div class="fw-semibold my-1" th:text="${'Shift ' + logInOut.xshift + ' of ' + loggedInUser.terminal.xshift}">Shift 1 of 2</div>
											<div class="text-muted" th:text="${logInOut.signInUser + ' is Signed in now'}">Biti is Signed in now</div>
										</div>
									</button>

									<button type="button" class="dropdown-item text-wrap h-100 border-end-sm border-bottom p-3 d-block btn-sign-in" th:if="${loggedInUser.roles eq 'CASHIER' and (logInOut eq null or logInOut.xstatus eq 'Closed')}">
										<div class="text-center" th:with="df=${'yyyy-MM-dd'}">
											<h3>Sign In</h3>
											<img src="../../../assets/images/demo/logos/1.svg" class="h-40px mb-2" alt="">
											<div class="fw-semibold my-1" th:text="${'Current Shift ' + (logInOut ne null and #dates.format(#dates.createNow(), df) eq #dates.format(logInOut.xgdate, df) ? (logInOut.xshift + 1) : '1')}">Shift 2</div>
											<div class="fw-semibold my-1" th:text="${'Max Allowed Shift ' + loggedInUser.terminal.xshift}">Shift 2</div>
											<div class="text-muted" th:text="${logInOut ne null ? 'Last Sign In User ' + logInOut.signInUser : ''}"></div>
										</div>
									</button>

									<button type="button" class="dropdown-item text-wrap h-100 border-end-sm border-bottom p-3 d-block btn-sign-in" th:if="${loggedInUser.roles ne 'CASHIER' and (logInOut eq null or logInOut.xstatus eq 'Closed')}">
										<div class="text-center">
											<h3>Re-Sign In</h3>
											<img src="../../../assets/images/demo/logos/1.svg" class="h-40px mb-2" alt="">
											<div class="fw-semibold my-1" th:text="${'Last Activated Shift ' + (logInOut ne null ? logInOut.xshift : '1')}">Shift 2</div>
											<div class="fw-semibold my-1" th:text="${'Max Allowed Shift ' + loggedInUser.terminal.xshift}">Shift 2</div>
											<div class="text-muted" th:text="${logInOut ne null ? 'Last Sign In User ' + logInOut.signInUser : ''}"></div>
										</div>
									</button>
								</form>

								<button type="button" class="dropdown-item text-wrap h-100 border-end-sm border-bottom p-3 d-block" th:if="${loggedInUser.roles ne 'CASHIER' and logInOut ne null and logInOut.xstatus eq 'Open'}">
									<div class="text-center">
										<img src="../../../assets/images/demo/logos/1.svg" class="h-40px mb-2" alt="">
										<div class="fw-semibold my-1" th:text="${'Current Shift ' + (logInOut ne null ? logInOut.xshift : '1')}">Shift 2</div>
										<div class="fw-semibold my-1" th:text="${'Max Allowed Shift ' + loggedInUser.terminal.xshift}">Shift 2</div>
										<div class="text-muted" th:text="${logInOut ne null ? 'Sign In User ' + logInOut.signInUser : ''}"></div>
									</div>
								</button>
							</div>

						</div>
					</div>
				</li>
				
				
			</ul>
		</div>
	</div>
</div>

<!-- Main sidebar -->
<div th:fragment="main-sidebar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg" th:classappend="${pageTitle eq 'POS' ? 'sidebar-main-resized' : ''}">

		<!-- Sidebar content -->
		<div class="sidebar-content">

			<!-- Sidebar header -->
			<div class="sidebar-section">
				<div class="sidebar-section-body d-flex justify-content-center">
					<h5 class="sidebar-resize-hide flex-grow-1 my-auto" th:text="${#strings.isEmpty(loggedInZbusiness.zorg) ? 'ZPOS' : loggedInZbusiness.zorg}">DEMO ERP</h5>

					<div>
						<button type="button" class="navigation-btn btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex" th:classappend="${pageTitle eq 'POS' ? '' : 'expand-mode'}">
							<i class="ph-arrows-left-right"></i>
						</button>

						<button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
							<i class="ph-x"></i>
						</button>
					</div>
					
				</div>
			</div>
			<!-- /sidebar header -->


			<!-- Main navigation -->
			<div class="sidebar-section">
				<ul class="nav nav-sidebar" data-nav-type="accordion">

					<!-- Main -->
					<li class="nav-item">
						<a th:href="@{/AD80}" class="nav-link side-nav-link">
							<i class="ph-house"></i>
							<span>AD80 - Sync Status</span>
						</a>
					</li>
					
					<li class="nav-item">
						<a th:href="@{/OP80}" class="nav-link side-nav-link">
							<i class="ph-house"></i>
							<span>OP80 - POS</span>
						</a>
					</li>

				</ul>
			</div>
			<!-- /main navigation -->

		</div>
		<!-- /sidebar content -->
		
	</div>
</div>


<!-- Secondary Sidebar -->
<div th:fragment="secondary-sidebar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div class="sidebar sidebar-secondary sidebar-expand-lg" style="width: 200px;">

		<!-- Sidebar content -->
		<div class="sidebar-content">

			<!-- Sub navigation -->
			<div class="sidebar-section">

				<div class="collapse show" id="sidebar_secondary_navigation">
					<ul class="nav nav-sidebar category-ul my-0" data-nav-type="accordion">
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="ph-plus-circle me-2"></i>
								All
							</a>
						</li>
					</ul>
				</div>

			</div>
			<!-- /sub navigation -->
	
		</div>
		<!-- /sidebar content -->
	
	</div>
</div>

<!-- Right Sidebar -->
<div th:fragment="right-sidebar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div class="sidebar sidebar-end sidebar-expand-lg" style="width: 650px;">
		<!-- Sidebar content -->
		<div class="sidebar-content justify-content-between">

			<!-- Sub navigation -->
			<div class="sidebar-section" style="flex-grow: 1;">

				<div class="sidebar-section-body d-flex flex-column p-2" style="height: 100%">
					<div class="row">
						<div class="col-lg-4">
							<div class="mb-2">
								<input type="text" class="form-control" placeholder="Phone number">
							</div>
						</div>

						<div class="col-lg-4">
							<div class="mb-2">
								<input type="text" class="form-control" placeholder="Customer name">
							</div>
						</div>

						<div class="col-lg-4">
							<div class="mb-2">
								<input type="text" class="form-control" placeholder="Table no">
							</div>
						</div>
					</div>

					<div class="row flex-grow-1 d-flex flex-column justify-content-between">
						<div class="col-lg-12 flex-grow-1">
							<div class="table-responsive">
								<table class="table">
									<thead class="table-light">
										<tr>
											<th scope="col" width="60%" class="p-1">Item name</th>
											<th scope="col" class="text-center p-1" width="25%">Qty</th>
											<th scope="col" class="text-center p-1" width="15%">Total</th>
										</tr>
									</thead>
								</table>
							</div>
							<div class="table-responsive" style="overflow-y: auto; height: calc(100vh - 395px);">
								<table class="table table-bordered cart-table">
									<thead class="table-light">
										<tr>
											<th scope="col" width="60%" class="p-0"></th>
											<th scope="col" class="text-center p-0" width="25%"></th>
											<th scope="col" class="text-center p-0" width="15%"></th>
										</tr>
									</thead>
									<tbody>
										<!--<tr>
											<td scope="row" class="p-1">
												<p class="m-0 text-primary fs-6">Item name</p>
												<p class="m-0 fw-light">Variant</p>
											</td>
											<td class="text-center p-1">
												<div class="input-group w-lg-60 m-auto">
													<button type="button" class="btn btn-sm btn-light btn-icon" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
														<i class="ph-minus ph-sm"></i>
													</button>
													<input class="form-control form-control-sm form-control-number text-center numeric-only" type="number" name="number" value="1" min="1" step="1">
													<button type="button" class="btn btn-sm btn-light btn-icon" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
														<i class="ph-plus ph-sm"></i>
													</button>
												</div>
												<div class="mt-1">
													<p class="m-0">Price 600 TK</p>
												</div>
											</td>
											<td class="text-center p-1">
												100
											</td>
										</tr>-->
										
									</tbody>
									
								</table>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead class="table-light">
										<tr>
											<th scope="col" width="60%" class="p-0"></th>
											<th scope="col" class="text-center p-0" width="25%"></th>
											<th scope="col" class="text-center p-0" width="15%"></th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td colspan="2" class="p-1">Sub Total</td>
											<td class="text-center p-1">100</td>
										</tr>
										<tr>
											<td colspan="2" class="p-1">Vat (5%)</td>
											<td class="text-center p-1">5</td>
										</tr>
										<tr>
											<td colspan="2" class="p-1">Discount Flat</td>
											<td class="text-center p-1">20</td>
										</tr>
										<tr>
											<td colspan="3" class="p-1">Notes</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						
						<div class="col-lg-12">
							<div class="pt-2">
								<a href="#" class="text-danger fw-bold mt-2 me-2">+ Discount</a>
								<a href="#" class="text-danger fw-bold mt-2 me-2">+ Notes</a>
							</div>
						</div>
					</div>
					
				</div>

			</div>
			<!-- /sub navigation -->
	
			<div class="navbar navbar-sm border-top">
				<div class="container-fluid">
					<!--<span><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328">Reset</a></span>-->
					<ul class="nav">
						<li class="nav-item">
							<a href="https://kopyov.ticksy.com/" class="navbar-nav-link navbar-nav-link-icon text-primary bg-primary bg-opacity-10 fw-semibold rounded" target="_blank">
								<div class="d-flex align-items-center mx-md-1">
									<i class="ph-lifebuoy"></i>
									<span class="d-none d-md-inline-block ms-2">Reset</span>
								</div>
							</a>
						</li>
						<li class="nav-item ms-md-1">
							<a href="https://kopyov.ticksy.com/" class="navbar-nav-link navbar-nav-link-icon text-primary bg-primary bg-opacity-10 fw-semibold rounded" target="_blank">
								<div class="d-flex align-items-center mx-md-1">
									<i class="ph-lifebuoy"></i>
									<span class="d-none d-md-inline-block ms-2">Total</span>
								</div>
							</a>
						</li>
					</ul>

					<ul class="nav">
						
						<li class="nav-item ms-md-1">
							<a href="https://demo.interface.club/limitless/demo/Documentation/index.html" class="navbar-nav-link navbar-nav-link-icon text-primary bg-primary bg-opacity-10 rounded" target="_blank">
								<div class="d-flex align-items-center mx-md-1">
									<i class="ph-file-text"></i>
									<span class="d-none d-md-inline-block ms-2">Hold Order</span>
								</div>
							</a>
						</li>
						<li class="nav-item ms-md-1">
							<a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link navbar-nav-link-icon text-primary bg-primary bg-opacity-10 fw-semibold rounded" target="_blank">
								<div class="d-flex align-items-center mx-md-1">
									<i class="ph-shopping-cart"></i>
									<span class="d-none d-md-inline-block ms-2">Confirm Order</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<!-- /sidebar content -->
	
	</div>
</div>


<div th:fragment="notification-section" xmlns:th="http://www.thymeleaf.org">
	<div class="offcanvas offcanvas-end" tabindex="-1" id="notifications">
		<div class="offcanvas-header py-0">
			<h5 class="offcanvas-title py-3">Activity</h5>
			<button type="button" class="btn btn-light btn-sm btn-icon border-transparent rounded-pill" data-bs-dismiss="offcanvas">
				<i class="ph-x"></i>
			</button>
		</div>

		<div class="offcanvas-body p-0">
			<div class="bg-light fw-medium py-2 px-3">New notifications</div>
			<div class="p-3">
				<div class="d-flex align-items-start mb-3">
					<a href="#" class="status-indicator-container me-3">
						<img th:src="@{/assets/images/demo/users/face1.jpg}" class="w-40px h-40px rounded-pill" alt="">
						<span class="status-indicator bg-success"></span>
					</a>
					<div class="flex-fill">
						<a href="#" class="fw-semibold">James</a> has completed the task <a href="#">Submit documents</a> from <a href="#">Onboarding</a> list

						<div class="bg-light rounded p-2 my-2">
							<label class="form-check ms-1">
								<input type="checkbox" class="form-check-input" checked disabled>
								<del class="form-check-label">Submit personal documents</del>
							</label>
						</div>

						<div class="fs-sm text-muted mt-1">2 hours ago</div>
					</div>
				</div>

				<div class="d-flex align-items-start mb-3">
					<a href="#" class="status-indicator-container me-3">
						<img th:src="@{/assets/images/demo/users/face3.jpg}" class="w-40px h-40px rounded-pill" alt="">
						<span class="status-indicator bg-warning"></span>
					</a>
					<div class="flex-fill">
						<a href="#" class="fw-semibold">Margo</a> has added 4 users to <span class="fw-semibold">Customer enablement</span> channel

						<div class="d-flex my-2">
							<a href="#" class="status-indicator-container me-1">
								<img th:src="@{/assets/images/demo/users/face10.jpg}" class="w-32px h-32px rounded-pill" alt="">
								<span class="status-indicator bg-danger"></span>
							</a>
							<a href="#" class="status-indicator-container me-1">
								<img th:src="@{/assets/images/demo/users/face11.jpg}" class="w-32px h-32px rounded-pill" alt="">
								<span class="status-indicator bg-success"></span>
							</a>
							<a href="#" class="status-indicator-container me-1">
								<img th:src="@{/assets/images/demo/users/face12.jpg}" class="w-32px h-32px rounded-pill" alt="">
								<span class="status-indicator bg-success"></span>
							</a>
							<a href="#" class="status-indicator-container me-1">
								<img th:src="@{/assets/images/demo/users/face13.jpg}" class="w-32px h-32px rounded-pill" alt="">
								<span class="status-indicator bg-success"></span>
							</a>
							<button type="button" class="btn btn-light btn-icon d-inline-flex align-items-center justify-content-center w-32px h-32px rounded-pill p-0">
								<i class="ph-plus ph-sm"></i>
							</button>
						</div>

						<div class="fs-sm text-muted mt-1">3 hours ago</div>
					</div>
				</div>

				<div class="d-flex align-items-start">
					<div class="me-3">
						<div class="bg-warning bg-opacity-10 text-warning rounded-pill">
							<i class="ph-warning p-2"></i>
						</div>
					</div>
					<div class="flex-1">
						Subscription <a href="#">#466573</a> from 10.12.2021 has been cancelled. Refund case <a href="#">#4492</a> created
						<div class="fs-sm text-muted mt-1">4 hours ago</div>
					</div>
				</div>
			</div>

			<div class="bg-light fw-medium py-2 px-3">Older notifications</div>
			<div class="p-3">
				<div class="d-flex align-items-start mb-3">
					<a href="#" class="status-indicator-container me-3">
						<img th:src="@{/assets/images/demo/users/face25.jpg}" class="w-40px h-40px rounded-pill" alt="">
						<span class="status-indicator bg-success"></span>
					</a>
					<div class="flex-fill">
						<a href="#" class="fw-semibold">Nick</a> requested your feedback and approval in support request <a href="#">#458</a>

						<div class="my-2">
							<a href="#" class="btn btn-success btn-sm me-1">
								<i class="ph-checks ph-sm me-1"></i>
								Approve
							</a>
							<a href="#" class="btn btn-light btn-sm">
								Review
							</a>
						</div>

						<div class="fs-sm text-muted mt-1">3 days ago</div>
					</div>
				</div>

				<div class="d-flex align-items-start mb-3">
					<a href="#" class="status-indicator-container me-3">
						<img th:src="@{/assets/images/demo/users/face24.jpg}" class="w-40px h-40px rounded-pill" alt="">
						<span class="status-indicator bg-grey"></span>
					</a>
					<div class="flex-fill">
						<a href="#" class="fw-semibold">Mike</a> added 1 new file(s) to <a href="#">Product management</a> project

						<div class="bg-light rounded p-2 my-2">
							<div class="d-flex align-items-center">
								<div class="me-2">
									<img th:src="@{/assets/images/icons/pdf.svg}" width="34" height="34" alt="">
								</div>
								<div class="flex-fill">
									new_contract.pdf
									<div class="fs-sm text-muted">112KB</div>
								</div>
								<div class="ms-2">
									<button type="button" class="btn btn-flat-dark text-body btn-icon btn-sm border-transparent rounded-pill">
										<i class="ph-arrow-down"></i>
									</button>
								</div>
							</div>
						</div>

						<div class="fs-sm text-muted mt-1">1 day ago</div>
					</div>
				</div>

				<div class="d-flex align-items-start mb-3">
					<div class="me-3">
						<div class="bg-success bg-opacity-10 text-success rounded-pill">
							<i class="ph-calendar-plus p-2"></i>
						</div>
					</div>
					<div class="flex-fill">
						All hands meeting will take place coming Thursday at 13:45.

						<div class="my-2">
							<a href="#" class="btn btn-primary btn-sm">
								<i class="ph-calendar-plus ph-sm me-1"></i>
								Add to calendar
							</a>
						</div>

						<div class="fs-sm text-muted mt-1">2 days ago</div>
					</div>
				</div>

				<div class="d-flex align-items-start mb-3">
					<a href="#" class="status-indicator-container me-3">
						<img th:src="@{/assets/images/demo/users/face4.jpg}" class="w-40px h-40px rounded-pill" alt="">
						<span class="status-indicator bg-danger"></span>
					</a>
					<div class="flex-fill">
						<a href="#" class="fw-semibold">Christine</a> commented on your community <a href="#">post</a> from 10.12.2021

						<div class="fs-sm text-muted mt-1">2 days ago</div>
					</div>
				</div>

				<div class="d-flex align-items-start mb-3">
					<div class="me-3">
						<div class="bg-primary bg-opacity-10 text-primary rounded-pill">
							<i class="ph-users-four p-2"></i>
						</div>
					</div>
					<div class="flex-fill">
						<span class="fw-semibold">HR department</span> requested you to complete internal survey by Friday

						<div class="fs-sm text-muted mt-1">3 days ago</div>
					</div>
				</div>

				<div class="text-center">
					<div class="spinner-border" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->
<div class="modal-section" th:fragment="modal-section" xmlns:th="http://www.thymeleaf.org">
	<div id="errorDetailModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-danger">Errors</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body">
					<div class="error-details-container"></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="searchSuggestTableModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Search Results</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body">
					<div class="search-suggest-results-container"></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- FOOTER -->
<div class="footer-section" th:fragment="footer-section" xmlns:th="http://www.thymeleaf.org">
	<div class="navbar navbar-sm navbar-footer border-top">
		<div class="container-fluid">
			<span></span>

			<ul class="nav">
				<li class="nav-item ms-md-1">
					<a href="https://demo.interface.club/limitless/demo/Documentation/index.html" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
						<div class="d-flex align-items-center mx-md-1">
							<i class="ph-git-fork"></i>
							<span class="ms-2" th:text="${'Version - ' + appVersion}">Version 1.0.0</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<span th:remove="tag" th:include="commons :: loading-mask"></span>
	<!-- <span th:remove="tag" th:include="commons :: alert-section"></span>
	<span th:remove="tag" th:include="commons :: loading-mask"></span>
	<div th:remove="tag" th:replace="commons :: progressmask"></div> -->
</div>

<!-- Stock Error Details Fragment commonly used -->
<div th:fragment="error-details" xmlns:th="http://www.thymeleaf.org">
	<div class="table-responsive">
		<table class="table datatable">
			<thead>
				<tr>
					<th>Item</th>
					<th>Store</th>
					<th class="text-end">Quantity Need</th>
					<th class="text-end">Quantity Available</th>
					<th class="text-end">Quantity Diviation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="error : ${stockErrors}">
					<td th:text="${error.itemCode + ' - ' + error.itemName}"></td>
					<td th:text="${error.storeCode + ' - ' + error.storeName}"></td>
					<td class="text-end" th:text="${error.reqQty}"></td>
					<td class="text-end" th:text="${error.availableQty}"></td>
					<td class="text-end" th:text="${error.deviation}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Utility -->
<!-- ALERT -->
<div th:fragment="alert-section" xmlns:th="http://www.thymeleaf.org">
	<div class="ck-alert nodisplay alert alert-dismissible fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
		<strong class="ck-alert-identifier">Success!</strong> <span class="ck-alert-message">This alert box could indicate a successful or positive action.</span>
	</div>
</div>

<!-- Loading mask -->
<div th:fragment="loading-mask" xmlns:th="http://www.thymeleaf.org">
	<div class="loading-mask nodisplay"></div>
	<div id="loadingmask2" class="nodisplay">
		<div id="loadingdots" class="nodisplay">
			<div id="loadingdots_1" class="loadingdots nodisplay">L</div>
			<div id="loadingdots_2" class="loadingdots nodisplay">O</div>
			<div id="loadingdots_3" class="loadingdots nodisplay">A</div>
			<div id="loadingdots_4" class="loadingdots nodisplay">D</div>
			<div id="loadingdots_5" class="loadingdots nodisplay">I</div>
			<div id="loadingdots_6" class="loadingdots nodisplay">N</div>
			<div id="loadingdots_7" class="loadingdots nodisplay">G</div>
		</div>
	</div>
</div>

<div id="progressmask" th:fragment="progressmask" xmlns:th="http://www.thymeleaf.org">
	<div class="progress-box">
		<div class="progress">
			<link rel="stylesheet" type="text/css" th:href="@{/assets/css/ck-ui/progressmask.css}" />
			<div 	class="progress-bar progress-bar-success progress-bar-striped" 
					role="progressbar"
					aria-valuemin="0" aria-valuemax="100" style="width: 0%">
					0% complete
			</div>
		</div>
	</div>
</div>

