<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${pageTitle}">Login</title>
	<meta th:remove="tag" th:include="commons :: common-meta"/>
	<meta th:remove="tag" th:include="commons :: common-css"/>
	<meta th:remove="tag" th:include="commons :: common-js"/>
</head>

<body>

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

					<a class="basePath" th:href="@{/}"></a>

					<!-- Login form -->
					<div class="main-form-container">
						<form id="mainform" class="login-form" role="form" th:action="@{/login}" method="post" autocomplete="off">
							<div class="card mb-0">
								<div class="card-body">
									<div class="text-center mb-3">
										<div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
											<!-- <img th:src="@{/login-assets/images/logo.png}" class="h-48px" alt=""> -->
											<h1 class="m-0 p-0">ZPOS</h1>
										</div>
										<h5 class="mb-0">Login to your account</h5>
										<span class="d-block text-muted">Enter your credentials below</span>

										<div th:if="${param.error}" class="error-message-container text-danger m-2 text-center">Wrong credential</div>
										<div th:if="${param.logout}" class="error-message-container text-success m-2 text-center">You have been logged out</div>
										<div class="error-message-container d-none text-danger m-2 text-center">You have been logged out</div>
									</div>

									<div class="mb-3">
										<label class="form-label">User ID</label>
										<div class="form-control-feedback form-control-feedback-start">
											<input type="text" class="form-control numeric-only" name="username" id="username" placeholder="User ID" autocomplete="off" required>
											<div class="form-control-feedback-icon">
												<i class="ph-user text-muted"></i>
											</div>
										</div>
									</div>

									<div class="mb-3">
										<label class="form-label">Password</label>
										<div class="form-control-feedback form-control-feedback-start">
											<input type="password" class="form-control" name="password" id="password" placeholder="•••••••••••" autocomplete="off" required>
											<div class="form-control-feedback-icon">
												<i class="ph-lock text-muted"></i>
											</div>
										</div>
									</div>

									<div class="mb-3">
										<button type="submit" class="btn btn-primary w-100 btn-submit">Sign in</button>
									</div>

									<div class="mb-3 text-center" style="font-size: 10px;">
										<span th:text="${'Version - ' + appVersion}"></span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- /login form -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

	<div th:remove="tag" th:include="commons :: modal-section"></div>

	<div th:remove="tag" th:include="commons :: notification-section"></div>



</body>
</html>






















	