<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/MD15/store}" th:object="${variation}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${variation.xcode ne null}" th:field="*{xcode}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Code</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xcode"
										th:value="${variation.xcode != null ? variation.xcode : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD15/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xcode',
										data-mainscreen=true,
										data-mainreloadurl='/MD15?xcode=',
										data-mainreloadid='main-form-container',
										data-detailreloadurl='/MD15/detail-table?xrow=RESET&xcode=',
										data-detailreloadid='detail-table-container'"
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Variation Name</label>
							<input type="text" class="form-control" th:field="*{xname}" required="required">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="zactive">Is Active?</label>
							<input type="checkbox" id="zactive" th:field="*{zactive}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD15?xcode=RESET', data-reloadid='main-form-container', data-detailreloadurl='/MD15/detail-table?xcode=RESET&xrow=RESET', data-detailreloadid='detail-table-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${variation.xcode ne null}" th:attr="data-url=@{/MD15?xcode=} + ${variation.xcode}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${variation.xcode ne null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${variation.xcode eq null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('detailreloadid'),
					url : $(this).data('detailreloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

		})
	</script>
</div>



<div th:fragment="detail-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${variationdt}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto">Options of Variation - <span class="text-success" th:text="${variation.xname}"></span> </h6>
		</div>

		<div class="card-body">
			<form id="detailform" class="form-validate-jquery" th:action="@{/MD15/detail/store}" th:object="${variationdt}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xcode}">
				<input type="hidden" th:field="*{xrow}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Option Name</label>
							<input type="text" class="form-control" th:field="*{xname}" required>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Price</label>
							<input type="number" class="form-control numeric-only" th:field="*{xprice}" min="0" step="1" required>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD15/detail-table?xcode='+ ${variationdt.xcode} +'&xrow=RESET', data-reloadid='detail-table-container'" class="btn btn-light btn-sm btn-detail-reset">Clear</button>
					</div>
					<div>
						<button th:if="${variationdt.xrow ne 0}" th:attr="data-url=@{/MD15/detail-table?xcode=} + ${variationdt.xcode} + '&xrow=' + ${variationdt.xrow}" type="button" class="btn btn-danger btn-sm btn-detail-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${variationdt.xrow ne 0}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${variationdt.xrow eq 0}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-plus me-2"></i> Add New</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(options)}">
			<table class="table">
				<thead>
					<tr>
						<th>Option Name</th>
						<th class="text-end">Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${options}">
						<td>
							<a class="detail-dataindex" th:attr="data-reloadid='detail-table-container', data-reloadurl='/MD15/detail-table?xcode=' + ${x.xcode} + '&xrow=' + ${x.xrow}" th:href="@{/MD15/detail-table?xcode=} + ${x.xcode} + '&xrow=' + ${x.xrow}" th:text="${x.xname}"></a>
						</td>
						<td class="text-end" th:text="${x.xprice}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-detail-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-detail-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#detailform'));
			});

			$('.btn-detail-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>